body{
  /*عنداااااك تمسحهاذ*/
  display:inline-block;
  overflow-x: hidden;
  background-color: #EEEEEE;
   }

   .bg-degrad {
  background: linear-gradient(to right,#5e5e60, #222831);
}
   .bg-degrad1 {
  background: linear-gradient(to right,#00ADB5, #EEEEEE);
}
   .bg-degrad2 {
  background: linear-gradient(to bottom,#00ADB5, #EEEEEE);
}
.color1{
  background-color: #222831;
}
.color2{
  background-color: #393E46;
}
.color3{
  background-color: #00ADB5;
}
.color4{
  background-color: #EEEEEE;
}
.boder-new-blue{
  border: #00ADB5 3px;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

ul li {
  border-bottom: 1px solid rgb(11, 112, 212); /* Add a thin border to each list item */
  margin-top: -1px; /* Prevent double borders */
  padding: 12px; /* Add some padding */
  font-size: small;
  color: white;
  list-style-type:square;

}
.mrg{
  margin: 20x 0px;
}
.last-bg{
  background: linear-gradient(to right,rgb(254, 254, 254), rgb(10, 246, 250)); 
}
a{
  text-decoration: none;
}
.marge-top-30px{
  margin-top: 50px;
}
/*---------------------------------------*/
body.dark {
  background-color: #292c35;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color:#111;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 22px;
  height: 22px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}
/*_________________________________________*/
.filters {
  filter: brightness(85%);
}

.filters:hover {
  filter: brightness(100%);
}

/*_______________les sous page___________________*/
/*______________zone value list________*/
.zon-list-valu{
margin: 30px 100px;
background-color:#EEEEEE;
border-radius: 7px;
color: black;
border-left:solid #00ADB5 10px ;
border-right:solid #00ADB5 10px ;
padding: 20px 0px;
}
/*____________bouton 9awso 9ozah____*/
.number-input{
  font-size: 20px;
  font-family: "preconnect";
  width:  337px;
  height: 80px;
  color: #fff;
  background: #222831;
  border-radius: 5px;
  border: none;
  padding: 0px 15px 0px 15px;
}
.number-input:focus{
  background-color:#393E46;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  font-size: 25px;
  border: none;
  outline: none;
  color: #fff;
  background: #222831;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin: 8px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;

}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
/*__________________hlp botton*/
.help{
  height: 30px;
  width: 90px;
  margin: 20px 40px;
  font-size: 18px;
  color: #00ffd5;
  margin-top: 7px;
  margin-left: 25px;
}

/*__________________________*/
option{
  background-color: #353536;
  color: white;
  font-size: 14px;
  font-family: Cinzel Decorative;
}